<h1><b>You Have Been Logged Out</b></h1>
<div class="border-top pt-2">
    <small class="text-muted">
        @Html.ActionLink("Sign in Again", "Login", null, null, new { @class = "ml-1" })
    </small>
</div>