@model GlanceReddit.ViewModels.HomeViewModel

<h2 class="text-success fade-in msg">@Model.SuccessMessage</h2>

<div style="height: 95vh" class="col-md-12 d-flex flex-column justify-content-center align-items-center text-white">
	<p>You can close this page now.</p>
</div>