@model GlanceReddit.ViewModels.HomeViewModel

<h2 class="text-danger msg text-margin" onloadstart="setMargin(e)">@Model.ErrorMessage</h2>

<h2 class="text-success fade-in msg text-margin" onloadstart="setMargin(e)">@Model.SuccessMessage</h2>

<div class="home-container">
    <div class="home-col">
        <div class="title-container text-margin" style="border-bottom: 5px solid #FC1810">
            <h1 class="title-container-text">Analyze Reddit to guage your audience.</h1>
            <h4 class="title-container-text">No username or password needed.</h4>
        </div>

        <div style="border-radius: 0.5rem" class="login-btn btn btn-primary home-btn text-margin">
            <a href="https://www.reddit.com/api/v1/authorize.compact?client_id=KV5zFP-MPNjCUT-M8GM8AA&amp;response_type=code&amp;state=eaa33b4cba48eb5921cd7c89632355c582c4bef798b3d10edd01c5516f100cc8c55835904fc53f57754fc5e4ca352ec8076162ce4b20e442af1d26d6f7e59f5f&amp;redirect_uri=https://redditmanager.onrender.com/user/login&amp;duration=permanent&amp;scope=vote%20history%20identity%20read%20save"
            style="color: white;">Login with Reddit</a>
        </div>

        <div class="login-desc text-margin">No data from reddit is stored on this websites servers.</div>
    </div>

    <script>
       let msg = document.getElementsByClassName("msg");
       let tally = 0;

       for (let element of msg) {
           if (element.innerHTML !== "") {
               element.style.marginTop = "1rem";
               element.style.marginBottom = "1rem";

               if (tally == 0) { 
                   let homeCont = document.getElementById("home-container");
                   homeCont.style.marginTop = "0";
               }
           }
           tally++;
       }     
   </script>

</div>
