@model GlanceReddit.ViewModels.RedditUser


<div class="header-container">
    <h1 class="post-index-header" style="color: white">First 15 Posts by you</h1>
</div>

@Html.Partial("/Views/Api/_DisplayPost.cshtml", Model.TcPostHistory)

<div class="header-container">
    <h2 class="post-index-header" style="color: white">First 15 Comments by you</h2>
</div>

@Html.Partial("/Views/Api/_DisplayComment.cshtml", Model.TcCommentHistory)
