@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@model GlanceReddit.ViewModels.SearchResultViewModel

@{
    <div class="text-margin">
        @if (Model.QueryList.Count != 0)
        {
            <div class="header-container">
                <h2 class="post-index-header">Search Results</h2>
                <hr>

                @Html.Partial("/Views/Api/_DisplaySearchStats.cshtml", Model.StatsModel)

            </div>
            @Html.Partial("/Views/Api/_DisplayPost.cshtml", Model.QueryList.ToArray())
        }

        else
        {
            <div>
                <h1><b>No Search Results Found.</b></h1>
            </div>
        }  
    </div>
}

@Html.PagedListPager(Model.QueryList, page => Url.Action("SearchResult", "Api", new { page = page }))

@*
@Html.PagedListPager(Model.QueryList, page => Url.Action("SearchResult",
    new { page, searchBar = Model.Query, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions { LiElementClasses = new string[] { "" }, PageClasses = new string[] { "btn btn-outline-info m-1 bg-light" } })
*@