
<div class="text-margin">
	<h2 class="text-success fade-in msg">Authentication is finished.</h2>

	<div class="text-dark">
		<p>Go back <a asp-area="" asp-controller="Api" asp-action="Home">home</a> to use the search and analyze features.</p>
	</div>
</div>